body {
  width: 100%;
  height: 100%;
}
/* background satrt */
.page-bg {
  background-image: url("../assets/images/bacground_img.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.background-bootom {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 7%;
  left: 0%;
  right: 0%;
  background-color: #7f7f87;
}
.container-fluid {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto;
  margin-left: auto;
}
/* background end */
/* search satrt */
.search-board {
  position: absolute;

  left: 20%;
  width: 35%;
  height: 25%;
}

.search-board-continer {
  background-image: url("../assets/images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.search-box {
  position: absolute;

  bottom: 4%;
  width: 50%;
  left: 25%;
  right: 25%;
  height: 20%;
  border-radius: 30px;
  background-color: #fff;
}

.search_input {
  color: #000;
  border: 0;
  outline: 0;
  background: none;
  padding: 15px 20px;
  height: 100%;
  font-size: 18px;
  width: 80%;
}

.search_icon {
  height: 100%;
  width: 20%;
  float: right;
  display: flex;
  background: #7e2572;
  justify-content: center;
  align-items: center;
  border-radius: 0% 30px 30px 0%;
  color: white;
  text-decoration: none;
}
/* search end */

/* card satrt */
.info-board {
  position: absolute;
  top: 0px;
  right: 0%;
  width: 35%;
  height: 65%;
}
.info-board-continer {
  background-image: url("../assets/images/card.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.info-box {
  position: absolute;

  bottom: 7%;
  width: 50%;
  left: 25%;
  right: 25%;
  height: 45%;
}

.Card_img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.card_img {
  width: 20%;
}
.card_title_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}
.card_title {
  font-size: 32px;
  font-weight: bold;
}
.card_perctange_box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-top: 2%;
  width: 50%;
}
.card_gms_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  width: 50%;
}
.card_gms_number {
  font-size: 54px;
  font-weight: bold;
  color: #7e2572;
  line-height: 1;
  margin-bottom: 0rem;
}
.card_perctange_list li {
  font-size: 18px;
  font-weight: 600;
}
.card_gms_word {
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
}
.card_flex {
  display: flex;
}
.card_per_footer {
  font-size: 12px;
  padding-left: 20px;
}
/* card end */
/* product rack satrt */

.rack {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 55%;
  z-index: 999;
  height: 55%;
}
.rack-continer {
  background-image: url("../assets/images/product_rack.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.rack-box {
  position: absolute;

  top: 0%;
  bottom: 3%;
  width: 94%;
  left: 3%;
  right: 3%;
  height: 100%;
  top: -180px !important;
}

.box_container {
  /* overflow: hidden;*/
}

.box_container ul {
  float: left;
  padding: 0;
}

.box_container ul li {
  list-style-type: none;
  line-height: 180px;

  width: 100px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_container li img {
  vertical-align: bottom !important;
  border-style: none;
  width: 100%;
  height: auto;
  max-height: 100px;

  object-fit: contain;
}

/* product rack end */
@media screen and (max-width: 1400px) {
  .info-box {
    position: absolute;

    bottom: 7%;
    width: 40%;
    left: 30%;
    right: 30%;
    height: 45%;
  }

  .card_img {
    width: 15%;
  }
  .card_title_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
  }
  .card_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0rem;
  }
  .card_perctange_box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-top: 2%;
    width: 50%;
  }
  .card_gms_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    width: 50%;
  }
  .card_gms_number {
    font-size: 32px;
    font-weight: bold;
    color: #7e2572;
    line-height: 1;
    margin-bottom: 0rem;
  }
  .card_perctange_list li {
    font-size: 14px;
    font-weight: 400;
  }
  .card_perctange_list {
    margin-bottom: 0.5rem;
  }
  .card_gms_word {
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
  }

  .card_per_footer {
    font-size: 10px;
    padding-left: 20px;
  }
  .rack-box {
    position: absolute;

    top: 0%;
    bottom: 3%;
    width: 84%;
    left: 8%;
    right: 8%;
    height: 100%;
    top: -110px !important;
  }

  .box_container {
    /* overflow: hidden;*/
  }

  .box_container ul {
    float: left;
    padding: 0;
  }

  .box_container ul li {
    list-style-type: none;
    line-height: 110px;

    width: 100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box_container li img {
    vertical-align: bottom !important;
    border-style: none;
    width: 100%;
    height: auto;
    max-height: 50px;

    object-fit: contain;
  }
}
@media screen and (max-width: 1100px) {
  .page-bg {
    background-image: url("../assets/images/mobile_background_img.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  .background-bootom {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 7%;
    left: 0%;
    right: 0%;
    background-color: #7f7f87;
  }
  .rack {
    position: absolute;
    bottom: 3.5%;
    left: 0%;
    right: 0%;
    width: 100%;
    z-index: 999;
    height: 38%;
  }

  .rack-continer {
    background-image: url("../assets/images/mobile_rack.svg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .rack-box {
    position: absolute;

    top: 5%;
    bottom: 3%;
    width: 80%;
    left: 10%;
    right: 10%;
    height: 92%;
  }
  .rack-box {
    position: absolute;

    top: 5%;
    bottom: 1%;
    width: 100%;
    left: 0%;
    right: 0%;
    height: 98%;
    top: -110px !important;
  }

  .box_container ul li {
    list-style-type: none;
    line-height: 120px;

    width: 100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box_container li img {
    vertical-align: bottom !important;
    border-style: none;
    width: 100%;
    height: auto;
    max-height: 80px;

    object-fit: contain;
  }
  .search-board {
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    width: 100%;
    height: 15%;
  }
  .search-board-continer {
    background-image: url("../assets/images/mobile_search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .search-box {
    position: absolute;

    bottom: 8%;
    width: 40%;
    left: 30%;
    right: 30%;
    height: 30%;
  }

  .search_input {
    color: #000;
    border: 0;
    outline: 0;
    background: none;
    padding: 10px 20px;
    height: 100%;
    font-size: 14px;
    width: 80%;
  }

  .search_icon {
    height: 100%;
    width: 20%;
    float: right;
    display: flex;
    background: #7e2572;
    justify-content: center;
    align-items: center;
    border-radius: 0% 30px 30px 0%;
    color: white;
    text-decoration: none;
  }

  .info-board {
    position: absolute;
    top: 15%;
    right: 0%;
    left: 0%;
    width: 100%;
    height: 35%;
  }
  .info-board-continer {
    background-image: url("../assets/images/mobile_card.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .info-box {
    position: absolute;

    bottom: 10%;
    width: 30%;
    left: 35%;
    right: 35%;
    height: 60%;
  }

  .card_img {
    width: 15%;
  }
  .card_title_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
  }
  .card_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0rem;
  }
  .card_perctange_box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-top: 2%;
    width: 50%;
  }
  .card_gms_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    width: 50%;
  }
  .card_gms_number {
    font-size: 38px;
    font-weight: bold;
    color: #7e2572;
    line-height: 1;
    margin-bottom: 0rem;
  }
  .card_perctange_list li {
    font-size: 14px;
    font-weight: 600;
  }
  .card_perctange_list {
    margin-bottom: 0.5rem;
    padding-inline-start: 20px;
  }
  .card_gms_word {
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
  }

  .card_per_footer {
    font-size: 10px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  .page-bg {
    background-image: url("../assets/images/mobile_background_img.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  .background-bootom {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 7%;
    left: 0%;
    right: 0%;
    background-color: #7f7f87;
  }
  .rack {
    position: absolute;

    top: 53%;
    left: 0%;
    right: 0%;
    width: 100%;
    z-index: 999;
    height: 40%;
  }
  .rack-continer {
    background-image: url("../assets/images/mobile_rack.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .rack-box {
    position: absolute;

    top: 5%;
    bottom: 1%;
    width: 100%;
    left: 0%;
    right: 0%;
    height: 98%;
    top: -20px !important;
  }

  .box_container ul li {
    list-style-type: none;
    line-height: 60px;

    width: 100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .box_container li img {
    vertical-align: bottom !important;
    border-style: none;
    width: 100%;
    height: auto;
    max-height: 40px;

    object-fit: contain;
  }
  .search-board {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 15%;
  }
  .search-board-continer {
    background-image: url("../assets/images/mobile_search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .search-box {
    position: absolute;

    bottom: 7%;
    width: 50%;
    left: 25%;
    right: 25%;
    height: 30%;
  }
  .search_input {
    color: #000;
    border: 0;
    outline: 0;
    background: none;
    padding: 10px 20px;
    height: 100%;
    font-size: 12px;
    width: 80%;
  }

  .search_icon {
    height: 100%;
    width: 20%;
    float: right;
    display: flex;
    background: #7e2572;
    justify-content: center;
    align-items: center;
    border-radius: 0% 30px 30px 0%;
    color: white;
    text-decoration: none;
  }

  .info-board {
    position: absolute;
    top: 15%;
    right: 0%;
    left: 0%;
    width: 100%;
    height: 35%;
  }
  .info-board-continer {
    background-image: url("../assets/images/mobile_card.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .info-box {
    position: absolute;

    bottom: 8%;
    width: 40%;
    left: 30%;
    right: 30%;
    height: 68%;
  }

  .card_img {
    width: 15%;
  }
  .card_title_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0%;
  }
  .card_title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0rem;
  }
  .card_perctange_box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-top: 2%;
    width: 50%;
  }
  .card_gms_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    width: 50%;
  }
  .card_gms_number {
    font-size: 32px;
    font-weight: bold;
    color: #7e2572;
    line-height: 1;
    margin-bottom: 0rem;
  }
  .card_perctange_list li {
    font-size: 12px;
    font-weight: 400;
  }
  .card_perctange_list {
    margin-bottom: 0.5rem;
    padding-inline-start: 20px;
  }
  .card_gms_word {
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
  }

  .card_per_footer {
    font-size: 10px;
    padding-left: 20px;
  }
}
