body {
  width: 100%;
  height: 100%;
}

/* width */
::-webkit-scrollbar {

  height: 2.5vh;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: #319b32;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7e2572;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e2572;
}

.page-bg {
  background-image: url("../assets/images/bacground_img.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.rack {
  background-image: url("../assets/images/product_rack.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 5%;
  left: 0%;
  max-width: 55vw;
  height: 27.5vw;
  overflow-x: scroll;
  overflow-y: hidden;
}

.rack-container {
  /* background-image: url("../assets/images/product_rack.svg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat; */
  width: 140vw;
  /* height: 27.5vw; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.search-board {
  background-image: url("../assets/images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0px;
  left: 15vw;
  width: 30vw;
  height: 15vw;
}

.info-board {
  background-image: url("../assets/images/card.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0px;
  right: 12vw;
  width: 21vw;
  height: 35vw;
}

.rack-shelf {
  width: 10%;
  height: 10%;
}

.board {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 1000;
}

.product {
  width: 8vw;
  height: 8vw;
}

.product-container {
  display: flex;
  width: 8.8vw;
  height: 8.8vw;
  object-fit: contain;
  justify-content: center;
  align-items: flex-end;
}

.content-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58%;
  padding: 0px 1.5vw 1.5vw 1.5vw;
}

.info-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  padding: 0px 1.5vw 1.5vw 1.5vw;
}

.info-arrow {
  width: 30%;
  height: 30%;
  font-size: 10vw !important;
  text-align: center;
  color: green;
  position: absolute;
  top: 1vw;
  right: 7.2vw;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0% {
    top: 1vw
  }

  /* 25%  {top:2vw} */
  50% {
    top: 2vw
  }

  100% {
    top: 1vw
  }
}

.info-text {
  padding-top: 8vw;
  font-size: 1.5vw;
  font-weight: bolder;
  text-align: center;
}


#productImage {
  width: 40%;
  height: 40%;
  opacity: 0;
}

#name {
  font-size: 1.5vw;
  text-transform: capitalize;
  /* opacity: 0; */
}

.risk-salt-seperator {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60%;
  justify-content: space-between;
  align-items: center;
}

.salt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color:blue; */
  width: 50%;
  height: 100%;
}

#saltLevel {
  font-size: 2vw;
  height: 2vw;
  color: purple;
  font-weight: bolder;
  opacity: 0
}

#mg {
  font-size: 2vw;
  font-weight: bolder;
  opacity: 0
}

#high {
  opacity: 0;
}

#medium {
  opacity: 0;
}

#low {
  opacity: 0;
}

.indicator {
  margin: 15px 5px;
  width: 0.1vw;
  height: 0.1vw;
  color: transparent;
  font-size: 1vw;
}

.green {
  border-color: green;
  background-color: green;

}



.yellow {
  border-color: #ff8000;
  background-color: #ff8000;
}

.red {
  border-color: red;
  background-color: red;
}

.risk-container {
  display: flex;
  flex-direction: column;
}

.risk-container div {
  font-size: 1.2vw;
  font-weight: bold;
  opacity: 0.8;
}

.search-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  bottom: 0;
  left: 0;
}

.search-input {
  height: 50%;
  border: 1px solid transparent;
  border-radius: 20px;
  padding-left: 5%;
  outline: none;
  padding-right: 5%;
  color: #000;
  background: #fff;
  font-size: 1vw;
  border-radius: 30px 0% 0% 30px;
  width: 60%;
}

.search_icon {
  height: 50%;
  width: 10%;
  font-size: 1vw;
  float: right;
  display: flex;
  background: #7e2572;
  justify-content: center;
  align-items: center;
  border-radius: 0% 30px 30px 0%;
  color: white;
  text-decoration: none;
}

#grams {
  font-size: 0.8vw;
  text-align: left !important;
  flex: 0 1 auto;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;

}

.blink_me {
  animation: blinker 1s linear infinite;
  font-size: 1.6vw !important;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 800px) {
  body {
    overflow: hidden !important;
  }

  .page-bg {
    background-image: url("../assets/images/bacground_img.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    overflow: hidden;
  }

  .rack {
    background-image: url(../assets/images/product_rack.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 5%;
    left: 0%;
    max-width: 150vw;
    height: 75vw;
    overflow-x: auto;
  }

  .rack-container {

    width: 320vw;
    /* height: 50vw; */
    display: flex;
    flex-wrap: wrap;
  }

  .search-board {
    background-image: url("../assets/images/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: -20vw;
    left: 15vw;
    width: 70vw;
    height: 35vw;
  }

  .info-board {
    background-image: url(../assets/images/mobile_card.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 15vw;
    left: 20vw;
    width: 60vw;
    height: 68vw;
  }

  .rack-shelf {
    width: 10%;
    height: 10%;
  }

  .board {
    position: absolute;
    /* background-color: blue; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .product {
    width: 22vw;
    height: 22vw;
  }

  .product-container {
    display: flex;
    width: 24vw;
    height: 24vw;
    object-fit: contain;
    justify-content: center;
    align-items: flex-end;
  }

  .content-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 6%;
    left: 7%;
    width: 86%;
    height: 75%;
    padding: 0px 1.5vw 1.5vw 1.5vw;
  }

  #productImage {
    width: 40%;
    height: 40%;
    opacity: 0;
  }

  #name {
    font-size: 4vw;
    text-transform: capitalize;
  }

  .risk-salt-seperator {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    justify-content: space-between;
    align-items: center;
  }

  .salt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color:blue; */
    width: 50%;
    height: 100%;
  }

  #saltLevel {
    font-size: 7vw;
    height: 7vw;
    color: purple;
    font-weight: bolder;
  }

  #mg {
    font-size: 5vw;
    font-weight: bolder;
    opacity: 0
  }

  #high {
    opacity: 0;
  }

  #medium {
    opacity: 0;
  }

  #low {
    opacity: 0;
  }

  .indicator {
    margin: 15px 5px;
    width: 0.1vw;
    height: 0.1vw;
    color: transparent;
    font-size: 2.5vw;
  }


  .yellow {
    border-color: #ff8000;
    background-color: #ff8000;
  }

  .red {
    border-color: red;
    background-color: red;
  }

  .risk-container {
    display: flex;
    flex-direction: column;
  }

  .risk-container div {
    font-size: 2.5vw;
    font-weight: bold;
    opacity: 0.8;
  }

  .info-image {
    width: 20%;
  }

  .search-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 0;
  }

  .search-input {
    width: 60%;
    height: 60%;
    color: #000;
    border: 1px solid transparent;
    border-radius: 20px;
    padding-left: 5%;
    outline: none;
    padding-right: 5%;
    border-radius: 30px 0% 0% 30px;
    font-size: 2vw;
    background: #fff;
  }

  .search_icon {
    height: 60%;
    width: 10%;
    font-size: 2vw;
    float: right;
    display: flex;
    background: #7e2572;
    justify-content: center;
    align-items: center;
    border-radius: 0% 30px 30px 0%;
    color: white;
    text-decoration: none;
  }

  .info-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 80%;
    padding: 0px 1.5vw 1.5vw 1.5vw;
  }

  .info-arrow {
    width: 30%;
    height: 30%;
    font-size: 20vw !important;
    text-align: center;
    color: green;
    position: absolute;
    top: 1vw;
    right: 20vw;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes example {
    0% {
      top: 1vw
    }

    /* 25%  {top:2vw} */
    50% {
      top: 2vw
    }

    100% {
      top: 1vw
    }
  }

  .info-text {
    padding-top: 14vw;
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
  }

  #grams {
    font-size: 2.5vw;
    text-align: left !important;
    flex: 0 1 auto;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;

  }

  ::-webkit-scrollbar {

    height: 1.5vh;
  }

  .blink_me {
    animation: blinker 1s linear infinite;
    font-size: 3vw !important;
  }

}